@padding: 20px;

.album {
  // &-container {
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   // overflow: hidden;
  //   padding-left: @padding;
  //   flex-grow: 1;
  // }
  &-title {
    // border-bottom: 1px solid @border-color;
    margin-bottom: 10px;
    // &-text {
    //   font-size: 32px;
    //   display: inline-block;
    //   text-shadow: rgb(255, 255, 255) -2px 2px 0px,
    //     rgb(174, 255, 206) -4px 4px 0px;
    //   color: rgb(112, 55, 213);
    //   position: relative;
    //   &::before {
    //     content: '';
    //     position: absolute;
    //     left: 0px;
    //     top: 0px;
    //     bottom: 0px;
    //     width: calc(15% + 40px);
    //     margin-left: -@padding;
    //     z-index: -1;
    //     background: linear-gradient(
    //       90deg,
    //       rgb(222, 209, 255),
    //       rgb(128, 255, 249)
    //     );
    //     border-radius: 3px;
    //   }
    // }
  }
}

.album-type {
  display: flex;
  align-items: center;
  color: #dadada;
  font-size: 13px;
  margin: 20px 0 10px;
  &::before,
  &::after {
    content: '';
    // position: absolute;
    height: 1px;
    background: currentColor;
  }
  &::before {
    width: 10px;
    margin-right: 5px;
  }
  &::after {
    margin-left: 5px;
    flex-grow: 1;
  }
}

.album-images {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  border: 1px dashed transparent;
  transition: all 0.5s ease;
  &.slide {
    margin-bottom: 200px;
  }
  &.dragover {
    opacity: 0.5;
    border-color: #40a9ff;
  }
  &-item {
    margin: 3px;
    position: relative;
    overflow: hidden;
    .uploading-progress {
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }
    &.blur img {
      filter: blur(7px);
    }
  }
  &-item:hover &-action {
    transform: translateY(0);
  }
  &-action {
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.5s ease 0.05s;
    right: 0px;
    top: 0px;
    padding: 5px 10px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 16px;
  }
  &-loading {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
}
.album-path {
  &-wrapper {
    flex-shrink: 0;
    // font-size: 32px;
    display: flex;
    align-items: center;
    // padding: 5px 0px;
    // margin: 10px 10px;
    padding-bottom: 10px;
    // border-bottom: 1px solid @border-color;
  }
  &-item {
    padding: 0 4px;
    // max-width: 80px;
    // max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.active {
      // color: rgba(0, 0, 0, 0.65);
      color: #1890ff;
    }
    &:not(.active) {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-split {
    margin: 0 5px;
  }
}

.album-folder {
  display: flex;
  flex-wrap: wrap;
  // font-size: 14px;
  // justify-content: space-evenly;
  &-item {
    width: 100px;
    margin: 5px 0px;
    &:hover {
      text-decoration: underline;
      color: #1890ff;
      cursor: pointer;
    }
  }
  &-icon {
    // color:
    font-size: 16px;
  }
}

.create-folder-tips {
  font-size: 13px;
  color: @tips-text-color;
  margin-top: 15px;
}

.album-delete {
  position: absolute;
  bottom: -10px;
  border-top: 1px solid @border-color;
  left: -20px;
  right: -20px;
  height: 200px;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  background: #fff;
  z-index: 3;
  &-queue {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    grid-gap: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    // &.column-2 {
    //   grid-template-columns: repeat(10, 1fr);
    //   grid-template-rows: repeat(2, 1fr);
    // }
  }
  &.visible {
    transform: translateY(0);
  }
  &-icon {
    width: 100px;
    flex-shrink: 0;
    border-left: 1px solid @border-color;
    // i {
    //   border: 1px solid #f5222d;
    //   color: #f5222d;
    //   padding: 5px;
    //   font-size: 16px;
    //   border-radius: 50%;
    // }
    // .ant-btn-danger {
    //   background: #fff;
    // }
  }
}
