.issues {
  &-list-wrapper {
    border-top: 1px solid @border-color;
    overflow: hidden;
    // padding: 0 40px;
    margin: 20px 0 0 -40px;
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 10px;
    flex: 1;
  }
  &-list {
    overflow: auto;
    border-bottom: 1px solid @border-color;
    flex-shrink: 0;
    border-right: 1px solid @border-color;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-item {
    padding: 15px 0;
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    border-right: 4px solid transparent;
    // &:not(:last-child) {
    //   border-bottom: 1px solid @border-color;
    // }
    &-time {
      font-size: 11px;
      // color: #828282;
    }
    &-close {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
      &:hover {
        color: @danger-color;
      }
    }
    &:hover {
      text-decoration: underline;
      .issues-item-close {
        opacity: 1;
        pointer-events: initial;
      }
    }
    &.active {
      color: @blue-color;
      // color: #fff;
      background: rgba(0, 0, 0, 0.05);
      border-right-color: @blue-color;
    }
    &.create {
      border-bottom: 1px solid @border-color;
    }
  }
}

.issue-preview {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &-title {
    padding: 10px 20px;
    font-size: 20px;
    border-bottom: 1px solid @border-color;
  }
}

.issues-editor {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  &-title {
    padding: 20px 0px;
    input {
      font-size: 20px;
      padding: 10px 0px;
      flex-grow: 1;
      border: none;
      border-radius: 0px;
      outline: 0px;
      border-bottom: 1px solid @border-color;
      &:focus {
        border-color: @blue-color;
      }
    }
  }
  &-content {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex: 1;
    // grid-template-columns: auto;
    margin-top: 10px;
  }
  .markdown-editor,
  .markdown-preview {
    flex-grow: 1;
    flex-shrink: 1;
    // flex-basis: 50%;
    // min-width: 50%;
    // max-width: 50%;
    width: 0px;
  }
  .markdown-preview {
    border: 1px solid @border-color;
  }
  &-goback {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    line-height: inherit;
    border: 1px solid transparent;
    &:hover {
      color: @blue-color;
      background: #fff;
      border-color: @blue-color;
    }
  }
}
.markdown {
  &-preview {
    padding: 20px;
    overflow: auto;
    position: relative;

    &.hidden {
      position: fixed;
      left: -9999px;
      bottom: -9999px;
      z-index: 0;
      pointer-events: none;
    }
  }
}
// 在issues页面中打开images管理器
// 使用绝对定位将其固定
.issues-images-container {
  // position: absolute;
  // left: 0px;
  // top: 0px;
  // bottom: 0px;
  // right: 0px;
  transition: opacity 0.6s ease-in-out;
  opacity: 1;
  &.hidden {
    // transition: none;
    opacity: 0;
    pointer-events: none;
  }
}
.issues-images-mask {
  background: rgba(0, 0, 0, 0.1);
}
.issues-images {
  position: absolute !important;
  background: #fff;
  top: 0px;
  bottom: 0px;
  left: 180px;
  right: 0px;
  box-shadow: -5px 0px 5px 0px @border-color;
  // padding-right: 20px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s ease-in-out;
  padding: 10px 20px 10px 40px !important;
  &.hidden {
    transform: translate3d(100%, 0, 0);
  }
  .album-delete {
    left: 0px;
    right: 0px;
  }
}
