@import './common.less';

html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  // background: ;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  list-style: none;
}


// antd
.ant-modal-close-x {
  display: flex;
  align-items: center;
}
